<div class="row">
        <div class="large-24 columns">

<!-- Nav Wrap -->
<nav class="top-bar">
    <ul class="title-area">
    <!-- Title Area -->
        <li class="name"></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <!-- The Section wrap -->
   <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
    <li><span><a href="/">Home</a></span></li>
    <li><span><a href="/typography">Typography</a></span><li>
    <li><span><a href="/colour">Colour</a></span></li>
    <li><span><a href="/buttons">Buttons</a></span></li>
    <li><span><a href="/forms">Forms</a></span></li>
    <li><span><a href="/icons">Icons</a></span></li>
    <li><span><a href="/images">Images</a></span></li>
    </ul>
    <ul class="left"></ul>
  </section>

</nav>







</div>
</div>




