{% block content %} 


<div class="row">
<div class="panel">


<div class="row">
<div class="large-24 columns"><h1 class="styleguideheader">COLOUR</h1></div>
</div>


<div class="row">
  <div class="large-22 large-offset-2 columns">




<table>
  <thead>
    <tr>
      <th>Colour</th>
      <th>Hex Value / SCSS Variable</th>
      <th>Display</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Primary Colour - Dark Blue</td>
      <td>$primary-color - #2d5e76"</td>
      <td bgcolor="#2d5e76"></td>
    </tr>
    <tr>
      <td>Background Colour - Light Grey</td>
      <td>$body-bg - #EEEEEE</td>
      <td bgcolor="EEEEEE"></td>
    </tr>
    <tr>
      <td>Alert Colour</td>
      <td>$Alert Color - #993333</td>
      <td bgcolor="993333"></td>
    </tr>
    <tr>
      <td>Success Colour</td>
      <td>$success-color: #76A70B</td>
      <td bgcolor="76A70B"></td>
    </tr>
    <tr>
      <td>Neautral Colour - Grey</td>
      <td>$secondary-color - #e9e9e9</td>
      <td bgcolor="e9e9e9"></td>
    </tr>
    <tr>
      <td>Footer Colour - Dark Grey</td>
      <td>#222222</td>
      <td bgcolor="222222"></td>
    </tr>
    <tr>
      <td>Venda Cyan</td>
      <td>$venda-cyan: #02a7e7</td>
      <td bgcolor="02a7e7"></td>
    </tr>
  </tbody>
</table>



  </div> 

</div>


</div>
</div>  
	<!-- TODO: Create Colour Page -->
{% endblock %}