{% block content %} 

<div class="row">
<div class="panel">

<div class="row">
  <div class="large-24 columns"><h1 class="styleguideheader">ICONS</h1></div>
</div>


<div class="row">
  <div class="large-22 large-offset-2 columns">

    <p>Defined in <code>_icons.scss</code></p>
    <p>Useage: <code>&lt;i class="icon-help-and-info"&gt;&lt;/i&gt;</code></p>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe000;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe000;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe001;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe001;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe002;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe002;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe003;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe003;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe004;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe004;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe005;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe005;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe006;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe006;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe007;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe008;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe008;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe009;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe009;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe00a;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe00a;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe00b;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe00b;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe00c;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe00c;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe00d;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe00e;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe00e;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe00f;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe00f;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe010;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe010;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe011;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe011;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe012;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe012;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe013;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe013;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe014;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe014;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe015;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe015;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe016;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe016;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe017;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe017;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe018;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe018;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe019;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe019;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe01a;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe01a;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe01b;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe01b;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe01c;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe01d;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe01d;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe01e;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe01e;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe01f;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe01f;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe020;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe020;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe021;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe021;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe022;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe022;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe023;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe023;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe024;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe024;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe025;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe025;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe026;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe026;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe027;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe027;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe028;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe028;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe029;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe029;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe02a;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe02a;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe02b;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe02b;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe02c;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe02c;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe02d;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe02d;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe02e;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe02e;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe02f;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe02f;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe030;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe030;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe031;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe032;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe032;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe033;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe033;" />
    </div>
    <div class="glyph">
        <div class="fs1" aria-hidden="true" data-icon="&#xe034;"></div>
        <input type="text" readonly="readonly" value="&amp;#xe034;" />
    </div>

    <hr>

    <h4>Class Names</h4>

    <span class="box1">
        <span aria-hidden="true" class="icon-user"></span>
        &nbsp;icon-user
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-shopping-cart"></span>
        &nbsp;icon-shopping-cart
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-menu"></span>
        &nbsp;icon-menu
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-menu-box"></span>
        &nbsp;icon-menu-box
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-money"></span>
        &nbsp;icon-money
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-search"></span>
        &nbsp;icon-search
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-ok-circle"></span>
        &nbsp;icon-ok-circle
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-expand"></span>
        &nbsp;icon-expand
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-reduce"></span>
        &nbsp;icon-reduce
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-remove"></span>
        &nbsp;icon-remove
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-carousel-left"></span>
        &nbsp;icon-carousel-left
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-carousel-right"></span>
        &nbsp;icon-carousel-right
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-login-box"></span>
        &nbsp;icon-login-box
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-logout"></span>
        &nbsp;icon-logout
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-help-and-info-box"></span>
        &nbsp;icon-help-and-info-box
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-twitter-sign"></span>
        &nbsp;icon-twitter-sign
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-facebook-sign"></span>
        &nbsp;icon-facebook-sign
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-pinterest-sign"></span>
        &nbsp;icon-pinterest-sign
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-store-locator"></span>
        &nbsp;icon-store-locator
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-gift-certificate"></span>
        &nbsp;icon-gift-certificate
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-envelope"></span>
        &nbsp;icon-envelope
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-pixelcaret-down"></span>
        &nbsp;icon-pixelcaret-down
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-pixelcaret-up"></span>
        &nbsp;icon-pixelcaret-up
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-pixelcaret-left"></span>
        &nbsp;icon-pixelcaret-left
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-pixelcaret-right"></span>
        &nbsp;icon-pixelcaret-right
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-caret-down"></span>
        &nbsp;icon-caret-down
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-caret-up"></span>
        &nbsp;icon-caret-up
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-caret-left"></span>
        &nbsp;icon-caret-left
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-caret-right"></span>
        &nbsp;icon-caret-right
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-angle-left"></span>
        &nbsp;icon-angle-left
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-angle-right"></span>
        &nbsp;icon-angle-right
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-angle-up"></span>
        &nbsp;icon-angle-up
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-angle-down"></span>
        &nbsp;icon-angle-down
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-double-angle-left"></span>
        &nbsp;icon-double-angle-left
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-double-angle-right"></span>
        &nbsp;icon-double-angle-right
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-double-angle-up"></span>
        &nbsp;icon-double-angle-up
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-double-angle-down"></span>
        &nbsp;icon-double-angle-down
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-remove-circle"></span>
        &nbsp;icon-remove-circle
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-ok"></span>
        &nbsp;icon-ok
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-spinner"></span>
        &nbsp;icon-spinner
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-plus"></span>
        &nbsp;icon-plus
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-minus"></span>
        &nbsp;icon-minus
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-th"></span>
        &nbsp;icon-th
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-list"></span>
        &nbsp;icon-list
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-th-large"></span>
        &nbsp;icon-th-large
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-help-and-info"></span>
        &nbsp;icon-help-and-info
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-login"></span>
        &nbsp;icon-login
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-trash"></span>
        &nbsp;icon-trash
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-communication"></span>
        &nbsp;icon-communication
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-edit"></span>
        &nbsp;icon-edit
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-settings"></span>
        &nbsp;icon-settings
    </span>
    <span class="box1">
        <span aria-hidden="true" class="icon-address-book"></span>
        &nbsp;icon-address-book
    </span>
    <hr>

    <h4>Alternative Colourway</h4>

    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-user"></span>
        &nbsp;icon-user
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-shopping-cart"></span>
        &nbsp;icon-shopping-cart
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-menu"></span>
        &nbsp;icon-menu
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-menu-box"></span>
        &nbsp;icon-menu-box
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-money"></span>
        &nbsp;icon-money
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-search"></span>
        &nbsp;icon-search
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-ok-circle"></span>
        &nbsp;icon-ok-circle
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-expand"></span>
        &nbsp;icon-expand
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-reduce"></span>
        &nbsp;icon-reduce
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-remove"></span>
        &nbsp;icon-remove
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-carousel-left"></span>
        &nbsp;icon-carousel-left
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-carousel-right"></span>
        &nbsp;icon-carousel-right
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-login-box"></span>
        &nbsp;icon-login-box
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-logout"></span>
        &nbsp;icon-logout
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-help-and-info-box"></span>
        &nbsp;icon-help-and-info-box
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-twitter-sign"></span>
        &nbsp;icon-twitter-sign
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-facebook-sign"></span>
        &nbsp;icon-facebook-sign
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-pinterest-sign"></span>
        &nbsp;icon-pinterest-sign
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-store-locator"></span>
        &nbsp;icon-store-locator
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-gift-certificate"></span>
        &nbsp;icon-gift-certificate
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-envelope"></span>
        &nbsp;icon-envelope
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-pixelcaret-down"></span>
        &nbsp;icon-pixelcaret-down
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-pixelcaret-up"></span>
        &nbsp;icon-pixelcaret-up
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-pixelcaret-left"></span>
        &nbsp;icon-pixelcaret-left
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-pixelcaret-right"></span>
        &nbsp;icon-pixelcaret-right
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-caret-down"></span>
        &nbsp;icon-caret-down
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-caret-up"></span>
        &nbsp;icon-caret-up
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-caret-left"></span>
        &nbsp;icon-caret-left
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-caret-right"></span>
        &nbsp;icon-caret-right
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-angle-left"></span>
        &nbsp;icon-angle-left
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-angle-right"></span>
        &nbsp;icon-angle-right
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-angle-up"></span>
        &nbsp;icon-angle-up
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-angle-down"></span>
        &nbsp;icon-angle-down
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-double-angle-left"></span>
        &nbsp;icon-double-angle-left
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-double-angle-right"></span>
        &nbsp;icon-double-angle-right
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-double-angle-up"></span>
        &nbsp;icon-double-angle-up
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-double-angle-down"></span>
        &nbsp;icon-double-angle-down
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-remove-circle"></span>
        &nbsp;icon-remove-circle
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-ok"></span>
        &nbsp;icon-ok
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-spinner"></span>
        &nbsp;icon-spinner
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-plus"></span>
        &nbsp;icon-plus
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-minus"></span>
        &nbsp;icon-minus
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-th"></span>
        &nbsp;icon-th
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-list"></span>
        &nbsp;icon-list
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-th-large"></span>
        &nbsp;icon-th-large
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-help-and-info"></span>
        &nbsp;icon-help-and-info
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-login"></span>
        &nbsp;icon-login
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-trash"></span>
        &nbsp;icon-trash
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-communication"></span>
        &nbsp;icon-communication
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-edit"></span>
        &nbsp;icon-edit
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-settings"></span>
        &nbsp;icon-settings
    </span>
    <span class="box1 box1-alt">
        <span aria-hidden="true" class="icon-address-book"></span>
        &nbsp;icon-address-book
    </span>
    <hr>

    <h4>Alternative Sizes</h4>
    <p>Add class as shown.</p>
    <div class="glyph">
        <i class="icon-store-locator icon-xsmall"></i>
        <input type="text" readonly="readonly" value="icon-xsmall" />
    </div>
    <div class="glyph">
        <i class="icon-store-locator icon-small"></i>
        <input type="text" readonly="readonly" value="icon-small" />
    </div>
    <div class="glyph">
        <i class="icon-store-locator icon-large"></i>
        <input type="text" readonly="readonly" value="icon-large" />
    </div>
    <div class="glyph">
        <i class="icon-store-locator icon-2x"></i>
        <input type="text" readonly="readonly" value="icon-2x" />
    </div>
    <div class="glyph">
        <i class="icon-store-locator icon-3x"></i>
        <input type="text" readonly="readonly" value="icon-3x" />
    </div>
    <div class="glyph">
        <i class="icon-store-locator icon-4x"></i>
        <input type="text" readonly="readonly" value="icon-4x" />
    </div>
    <div class="glyph">
        <i class="icon-store-locator icon-5x"></i>
        <input type="text" readonly="readonly" value="icon-5x" />
    </div>
<hr>
    <h4>Animation</h4>
    <p>Add a class <code>icon-spin</code> to make any icon rotate. <code>&lt;i class="icon-spinner icon-spin icon-large"&gt;&lt;/i&gt;</code></p>
    <div class="glyph">
        <i class="icon-spinner icon-spin icon-large"></i>
    </div>
<hr>
    <h4>Rotate and Flip</h4>
    <p>Add class as shown.</p>
    <div class="glyph glyph-large">
        <i class="icon-login icon-large icon-rotate-90"></i>
        <input type="text" readonly="readonly" value="icon-rotate-90" />
    </div>
    <div class="glyph glyph-large">
        <i class="icon-login icon-large icon-rotate-180"></i>
        <input type="text" readonly="readonly" value="icon-rotate-180" />
    </div>
    <div class="glyph glyph-large">
        <i class="icon-login icon-large icon-rotate-270"></i>
        <input type="text" readonly="readonly" value="icon-rotate-270" />
    </div>
    <div class="glyph glyph-large">
        <i class="icon-login icon-large icon-flip-horizontal"></i>
        <input type="text" readonly="readonly" value="icon-flip-horizontal" />
    </div>
    <div class="glyph glyph-large">
        <i class="icon-login icon-large icon-flip-vertical"></i>
        <input type="text" readonly="readonly" value="icon-flip-vertical" />
    </div>

  </div>
</div>

</div>
</div>     



{% endblock %}