{% block content %} 

<div class="row">
<div class="large-24 columns">

     <div class="panel">
     <h1 class="subheader">No Image Available</h1>


    	<div class="row">
    		<div class="large-12 columns">
    		<p>Medium - 490 x 490px</p>
    		<img src="assets/images/no-image-available/medium.jpg" alt="Sorry No Image Available" style="border: #eee 1px solid;">

    	</div>


    	<div class="large-6 columns">
    		<p>Small - 175 x 175px</p>
    		<img src="assets/images/no-image-available/small.jpg" alt="Sorry No Image Available" style="border: #eee 1px solid;">
    	</div>


    	<div class="large-6 columns">
    		<p>XSmall - 85 x 85px</p>
    		<img src="assets/images/no-image-available/xsmall.jpg" alt="Sorry No Image Available" style="border: #eee 1px solid;">

    		</div>
    	</div>


    	<div class="row">
    		<div class="large-24 columns">
    		<p>Large - 1000 x 1000px</p>
    		<img src="assets/images/no-image-available/large.jpg" alt="Sorry No Image Available" style="border: #eee 1px solid;">

    		</div>
    	</div>




     </div>


</div>
</div>     



{% endblock %}