{% block content %} 
	    
	<!-- TODO: Create my project :-) -->


<div class="row">
        <div class="large-24 columns">

<div class="panel" style="text-align: center;">
  
<img src="assets/images/devices.png" alt="Devices">





</div>


            <hr />
        </div>
    </div>




{% endblock %}